{% extends 'base.html' %}
{% block content %}
<h1>Welcome to {{ app }}!</h1>
<p>{{ name }} | {{ class }}</p>

{% if not products %}
<p>Belum ada products pada database</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
  </tr>

  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add Product Entry</button>
</a>
{% endblock content %}